:root {
  --gb-scale: 0.55;
  --profile-scale: 0.6;
  --sn-scale: 0.5;
  --sn-scale-img: 0.45;
}
#main-swiper.swiper {
  left: 10vw;
  height: 65vh;
  top: 3vh;
}
#extra-links-side {
  display: none;
}
#main-nav .promo-box { display: none; }
#bottom-bar .promo-box { display: block; }
#side-nav {
  top: 40%;
}
@media all and (min-height: 539px) {
  #side-nav {
    display: flex;
  }
  #user-profile-extra {
    padding-left: 100px;
  }
}