:root {
  --mv-scale-bg: 0.5;
  --mv-scale-img: 0.6;
  --jp-scale-bg: 0.38;
  --jp-scale-text: 0.45;
  --locale-scale: 0.5;
  --locale-scale-text: 0.6;

  --gb-scale: 0.6;
  --links-scale: 0.4;
  --profile-scale: 0.5;
  --profile-scale-text: 0.7;
  --promo-scale: 0.4;
  --sn-scale: 0.7;
  --sn-scale-img: 0.65;
}
#user-profile-extra {
  position: relative;
  background-image: unset;
  padding-top: calc(60px* var(--profile-scale));
  padding-left: 50px;
  width: unset;
  bottom: unset;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.offcanvas-body .jackpot-box {
  margin-bottom: 0;
}
#jpb2.jackpot-block {
  margin-bottom: unset;
}
#extra-links,
#extra-links-side {
  flex-wrap: nowrap;
}
#extra-links .user-links-btn,
#extra-links-side .user-links-btn {
  flex-direction: column;
}
#extra-links-side {
  display: none;
}
#side-nav {
  top: 45%;
}
#main-nav:after {
  content: '';
}
#locale-block {
  display: block;
}