
:root {
  --mv-scale-bg: 0.6;
  --mv-scale-img: 0.6;
  --sn-scale: 0.5;
  --sn-scale-img: 0.4;
  --jp-scale-bg: 0.32;
  --jp-scale-text: 0.35;
  --profile-scale: 0.5;
  --profile-scale-text: 0.7;
  --promo-scale: 0.48;
}
.jackpot-block {
  flex-direction: row;
  justify-content: center;
  gap: 3px;
}
.jackpot-box {
  width: calc(326px * var(--jp-scale-bg));
  height: calc(55px * var(--jp-scale-bg));
}
.jackpot-box span {
  font-size: calc(26px * var(--jp-scale-text));
  line-height: calc(26px * var(--jp-scale-text));
}
#bottom-bar {
  justify-content: flex-end;
  padding-right: 10px;
}
#bottom-bar {
  height: 40px;
}
#toggle-bottombar {
  display: none;
}
#user-profile-extra {
  position: relative;
  background-image: unset;
  padding-top: calc(60px* var(--profile-scale));
  width: unset;
  bottom: unset;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#main-nav .promo-box { display: none; }
#bottom-bar .promo-box { display: block; }
#extra-links,
#extra-links-side {
  flex-wrap: nowrap;
}
#extra-links .user-links-btn,
#extra-links-side .user-links-btn {
  flex-direction: column;
}
#extra-links-side {
  display: none;
}
#side-nav {
  top: 45%;
}
@media all and (min-height: 479px) {
  #side-nav {
    display: flex;
  }
}
#bottom-bar .promo-box {
  margin-top: -80px;
}